<h2 class="to-landingpage text-center">
  我们为什么要做一个全栈客？
</h2>

<main class="great">

  <!-- 四个banner -->
  <ul class="container-fluid grid">
    <section class="row">
      <% @albums.each do |album| %>
        <li class="album-banner col-sm-6 col-xs-12" style="
        background-image: url('<%= album.album_cover.url %>') ;">

          <%= link_to album_path(album) do %>
            <div class="banner-album-box">
              <p>「<%= album.meta %>」</p>
              <h3><%= album.title %></h3>
              <div class="album-covor" style="
              background-image: url('<%= album.album_cover.thumb.url %>') ;">
              </div>
            </div>
          <% end %>
        </li>

      <% end %>
    </section>
  </ul>

  <!-- 最新简集 -->

  <div class="text-center"></br>
    <h2 class="category—name">热门简集</h2>

    <% @albums.each do |album| %>

      <%= link_to album_path(album) do %>
        <div class="album-box">
          <p>「<%= album.meta %>」</p>
          <h3><%= album.title %></h3>
          <div class="album-covor" style="
          background-image: url('<%= album.album_cover.thumb.url %>') ;">
          </div>
        </div>
      <% end %>

    <% end %>

  </div>




</main>
