<div class="container">
  <section class="row">

      <!-- album大标题 -->
      <section class="album-show-box col-md-10 col-md-offset-1 col-xs-12">

        <p>「<%= @album.meta %>」</p>
        <h1><%= @album.title %></h1>

        <div class="album-show-covor" style="
        background-image: url('<%= @album.album_cover.url %>') ;">
        </div>

      </section>

      <!-- album集序 -->
      <section class="album-info col-md-10 col-md-offset-1 col-xs-12">
        <h4 class="text-center">集序：</h4>

        <div class="album-description row img-responsive center-block">
          <%= sanitize @album.description %>
        </div>

        <!-- album作者 -->
        <!-- <div class="col-md-4 col-md-offset-4 text-center">
          <div class="album-user-avatar">
            <%= image_tag("http://placehold.it/100x100&text=No Pic", class: "img-responsive img-circle center-block")%>
          </div>
          <span>韵儿爸爸</span>
          <hr>
          <div class="album-user-info">
            <p class="center-block">如果你去观察就会发现，如今的市场上已经见不到那些只讲地段、板塔这些简单粗暴的产品，当企业开始深挖客户需求和痛点，开始不仅仅提供最基本的居住功能，而是转向更多附加值；</p>
          </div>
          <hr>
        </br>
        </div> -->

        <!-- album下的所有文章articles -->
        <div class="album-show-articles text-center col-xs-12">
          <% @album.articles.order("created_at DESC").each do |article| %>

            <%= link_to album_article_path(@album, article) do%>
              <section class="album-show-article-box">
                <h3><%= article.title %></h3>
                <section class="album-show-articles-summary">
                  <p><%= sanitize article.summary %></p>
                </section>
                <div class="article-cover" style="
                background-image: url('<%= article.article_cover.medium.url %>') ;">
                </div>
              </section>
            <% end %>

          <% end %>
        </div>


        <!-- like点赞 -->
        <div class="text-center">
          <span id="album-like-<%= @album.id %>">
            <%= render :partial => "like", :local => { :album => @album } %>
          </span>
        </div>


        <div class="container">
          <br>
        </div>
        <hr>
        <!-- 输入表单 -->
        <%= simple_form_for [@album, @review], :remote => true do |f| %>
          <div class="review-album-form">
            <%= f.input :comment, :label => "评论一下：" %>
          </div>
          <div class="container-fluid">
            <div class="row">
              <%= f.submit "提交", class: "btn btn-sm btn-default pull-right", data: { disable_with: "正在提交..." } %>
            </div>
          </div>
        <% end %>

        <!-- 评论列表 -->
        <div class="album-reviews">
        </br>
          <ul>
            <div id="album-review-list">
              <% @album.reviews.order("created_at DESC").each do |review| %>
                <%= render :partial => "reviews/review", :locals => { :review => review } %>
              <% end %>
            </div>
          </ul>
        </div>

      </section>

  </section>
</div>
